* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.containe {
  box-shadow: inset rgb(67, 147, 152) 0 0 100px;
  height: 96%;
  width: 98%;
  background-color: rgba(0, 0, 0, 0.839);
  border-radius: 25px;
}
